:root {
  --hlr-blue: #0099ff;
}

.navbar {
  background-color: rgba(0,0,0,.5);
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fff;
}

.hlr-masthead {
  height: 100vh;

  background-size: cover;
  background-position: center center;
}

.hlr-masthead .jumbotron {
  background-color: rgba(0,0,0,.5);
}

.hlr-masthead .lead {
  font-size: 1.5rem;
}
