<footer class="hlr-footer bg-primary">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="row align-items-center sponsors">
      <a href="https://www.autosupershoppes.co.nz/" class="text-center col-6 col-md-4">
        <img src="images/sponsors/auto-super-shoppes.svg" alt="Auto Super Shoppes" width="150px"/>
      </a>
      <a href="https://www.fuchs.com/" class="text-center col-6 col-md-4">
        <img src="images/sponsors/fuchs.svg" alt="Fuchs" width="150px"/>
      </a>
      <a href="https://bntnz.co.nz/" class="text-center col-6 col-md-4">
        <img src="images/sponsors/bnt.svg" alt="BNT" width="150px"/>
      </a>
      <a href="https://www.gtradial.co.nz/" class="text-center col-6 col-md-4">
        <img src="images/sponsors/gt-radial.svg" alt="GT Radial" width="150px"/>
      </a>
      <a href="https://motomuck.co.nz/" class="text-center col-6 col-md-4">
        <img src="images/sponsors/motomuck.svg" alt="Motomuck" width="150px"/>
      </a>
      <a href="https://civcon.co.nz/" class="text-center col-6 col-md-4">
        <img src="images/sponsors/civic.svg" alt="Civic Contractors" width="150px"/>
      </a>
    </div>

    <ul class="nav social">
      <li class="nav-item">
        <a href="https://facebook.com/hlrracingnz" class="nav-link" alt="Facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://instagram.com/hlrracingnz" class="nav-link" alt="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>

    <p>&copy; 2020 HLR Racing</p>
  </div>
</footer>