<nav class="navbar navbar-dark bg-primary sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="/">
    <img class="d-inline-block align-middle" width="100px" src="/images/hlr.svg" alt="HLR Racing" loading="lazy"/>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="https://facebook.com/hlrracingnz" class="nav-link">
          <i class="fab fa-facebook"></i>
          <span class="d-xl-none ml-2">
            Facebook
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://instagram.com/hlrracingnz" class="nav-link">
          <i class="fab fa-instagram"></i>
          <span class="d-xl-none ml-2">
            Instagram
          </span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <!--<li class="nav-item"><a class="nav-link" href="#welcome">Welcome</a class="nav-link"></li>
      <li class="nav-item"><a class="nav-link" href="#youth-speed">Youth Speed</a class="nav-link"></li>-->
      <li class="nav-item"><a class="nav-link" href="/for-sale">For Sale</a class="nav-link"></li>
    </ul>
  </div>
</nav>